version: "3"
services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      REDIS_CONNECTION: redis:6379
      PRISMA_ENDPOINT: http://prisma:4466
    volumes:
      - .:/app
    depends_on:
      - prisma
      - redis
    ports:
      - 9000:9000
    command: ./docker/wait-for-it.sh http://prisma:4466 -- ./docker/run.sh
  prisma:
    image: prismagraphql/prisma:1.34
    restart: always
    ports:
      - "4466:4466"
    environment:
      PRISMA_CONFIG: |
        port: 4466
        # uncomment the next line and provide the env var PRISMA_MANAGEMENT_API_SECRET=my-secret to activate cluster security
        # managementApiSecret: my-secret
        databases:
          default:
            connector: mongo
            uri: 'mongodb://prisma:prisma@mongo'
  mongo:
    image: mongo:3.6
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: prisma
      MONGO_INITDB_ROOT_PASSWORD: prisma
    ports:
      - 27017:27017
    volumes:
      - mongo:/var/lib/mongo
  redis:
    image: bitnami/redis:latest
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
    restart: always
    ports:
      - 6379:6379
    volumes:
      - redis_data:/bitnami/redis/data
volumes:
  redis_data:
  mongo:
